@model DataAccessLayer.ViewModels.DepositViewModel
@{
}
<form id="depositForm">
    <div class="mb-3">
        <label for="depositAmount" class="form-label">Amount</label>
        <input type="number" class="form-control" id="depositAmount" name="Amount" required>
    </div>
    <div class="mb-3">
        <label for="depositComment" class="form-label">Comment</label>
        <input type="text" class="form-control" id="depositComment" name="Comment" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>