@model DataAccessLayer.ViewModels.WithdrawViewModel
@{
}
<form id="withdrawForm">
    <div class="mb-3">
        <label for="withdrawAmount" class="form-label">Amount</label>
        <input type="number" class="form-control" id="withdrawAmount" name="Amount" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>